body
{
    background: url("../images/lined_paper.png");

}

.header
{
  background: url("../images/header.png");
  color: #ffffff;
  left:0px;
  top:0px;
  height: 52px;

}

.padding
{
  padding-top: 15px;
}

/* unvisited link */
a:link {
    color: #ffffff;
}

/* visited link */
a:visited {
    color: #ffffff;
}

/* mouse over link */
a:hover {
    color: #ffffff;
}

/* selected link */
a:active {
    color: #ffffff;
}

.center
{
  text-align: center;
}
.container
{
  margin-top: 5px;
  margin-bottom: 50px;
}
.content
{
  color: #ffffff;
}

.footer
{
  position: fixed;
  background: url("../images/footer.png");
  color: #ffffff;
  left:0px;
  bottom:0px;
  height: 52px;
  width: 100%;
}


h1, h2, h3, h4, h5, h6
{
  color: #d0661c;
}
