/*
//  Frank Adema
//  Student Stenden Emmen
//  frank.adema@student.stenden.com
//  leerlingnummer: 277665
//  Jaar: 2017
//  Afstudeeropdracht Exact Anders

*/

/*achtergrond*/
body
{
  background: url("../images/lined_paper.png");
  color: #000000;
}

/*header blauwe balk*/
.header
{
  background: url("../images/header.png");
  color: #ffffff;
  left:0px;
  top:0px;
  height: 52px;

}

.padding
{
  padding-top: 15px;
}

/* unvisited link */
a:link {
  color: #ffffff;
}

/* visited link */
a:visited {
  color: #ffffff;
}

/* mouse over link */
a:hover {
  color: #ffffff;
}

/* selected link */
a:active {
  color: #ffffff;
}

.center
{
  text-align: center;
}

/*container waar content inkomt*/
.container
{
  margin-top: 5px;
  margin-bottom: 50px;
  color:#000000;
}

.content
{
  color: #000000;
}

/*footer grijze balk*/
.footer
{
  position: fixed;
  background: url("../images/footer.png");
  color: #ffffff;
  left:0px;
  bottom:0px;
  height: 52px;
  width: 100%;
}

/*opmaak h1 t/m h6*/
h1, h2, h3, h4, h5, h6
{
  color: #d0661c;
}

/*opmaak h4*/
h4
{
  font-weight: bold;
}

/*opmaak tabel*/
table, tr, td
{
  color: #000000;
}


/*tegelopbouw blauw*/
.tegelBlue
{
  background-image: url("../images/blue.png");
  border: none;
  float: left;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  width: 123px;
  height: 121px;
}

/*tegelopbouw oranje*/
.tegelOrange
{
  background-image: url("../images/orange.png");
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  float: left;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  width: 123px;
  height: 121px;
}

/*tegelopbouw groen*/
.tegelGreen
{
  background-image: url("../images/green.png");
  border: none;
  color: white;
  padding: 15px 32px;
  float: left;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  width: 123px;
  height: 121px;
}
